@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    margin: 0;
    font-family: 'Gothic A1', sans-serif;
}

.banner{
    width: 100%;
    height: 450px;
    background-image: url("https://mblogthumb-phinf.pstatic.net/MjAxODA0MTlfMjE2/MDAxNTI0MTQyNTg4NjI5.gwONCN0W2nDOcpK8QZBsBfRaswgURqt_ALZAeyVAsa0g.ezpUxO4oZ3fJquH31Sgg3HyuVhTHXgABB6OJikhTfZEg.JPEG.crypt-/01%ED%99%94_01%EB%B6%84_11%EC%B4%88_487.jpg?type=w800");
    background-size: cover;
    background-position: center;
}

.container{
    padding: 0 20%;
}

.profile{
    margin-top: 50px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 35px;
}

.profile img{
    border-radius: 999px;
    width: 100px;
    height: 100px;
}

.profile .name{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile .name p{
    font-size: 20px;
    font-weight: 500;
}

.profile .name button#follow{
    background-color: rgb(0, 132, 255);
    border-radius: 999px;
    padding: 12px 20px 11px;
    border: 0;
    color: #fff;
}

.profile .info{
    font-size: 16px;
    margin: 0;
    color: rgb(63, 63, 63);
}

.profile #profileMore{
    color: rgb(0, 132, 255);
    border: none;
    background-color: initial;
    font-weight: 600;
    padding: 0;
    font-size: 14px;
    margin-top: 10px;
}

.tab a{
    padding: 5px 16px;
    margin: 0 5px;
    font-weight: 500;
}

.tab a:nth-child(1){
    border-bottom: solid 3.5px rgb(0, 132, 255);
}

 /* 모달 디자인 */
 .modal{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal .modalBox{
    background-color: #fff;
    padding: 40px;
    margin: 10% 25%;
    border-radius: 20px;
}

.modal .modalBox .header{
    display: flex;
    justify-content: end;
}

.modal .modalBox .header #closeModal{
    font-size: 26px;
    color: rgb(70, 70, 70);
}

.modal .modalBox .info{
    text-align: center;
}

.modal .modalBox .info img{
    border-radius: 999px;
    width: 85px;
    height: 85px;
}

.modal .modalBox .info .name{
    font-size: 20px;
    margin-top: 10px;
}

